html {
    box-sizing: border-box;
    font-size: 16px;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body, table, tbody, thead, tr, td, th {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

table {
    width: 100%;
    min-width: 1200px;
    text-align: left;
    border-collapse: collapse;
    border-spacing: 0;
    border: none;
    table-layout: fixed;
}

:global(#app) {
    height: 100vh;
    padding-top: 50px;
}